@font-face {
  font-family: "prx_nova";
  src: url(../fonts/ProximaNova-Regular.otf);
  font-weight: 300;
}
@font-face {
  font-family: "prx_nova";
  src: url(../fonts/ProximaNova-Bold.otf);
  font-weight: 600;
}
body {
  font-family: "prx_nova", sans-serif;
}

.font-14 {
  font-size: 14px;
  line-height: 21px;
}

.font-14-lg {
  font-size: 14px;
  line-height: 24px;
}

.font-16 {
  font-size: 16px;
  line-height: 24px;
}

.font-21 {
  font-size: 21px;
  line-height: 28px;
}

.font-24 {
  font-size: 24px;
  line-height: 32px;
}

.font-32 {
  font-size: 32px;
  line-height: 40px;
}

.font-40 {
  font-size: 40px;
  line-height: 48px;
}

.font-48 {
  font-size: 48px;
  line-height: 56px;
}

.font-56 {
  font-size: 56px;
  line-height: 64px;
}

.font-64 {
  font-size: 64px;
  line-height: 80px;
}

.lh1 {
  line-height: 1em;
}

.lh1_5 {
  line-height: 1.5em;
}

.text-white {
  color: white;
}

.text-copy-0 {
  color: #a0a0a0;
}

.text-copy-1 {
  color: #727272;
}

.text-copy-2 {
  color: #202020;
}

.text-brand-500 {
  color: #9c0d17;
}

.text-300 {
  font-weight: 300;
}

.text-700 {
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-space-wide {
  letter-spacing: 1.5;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

.m0 {
  margin: 0;
}

.m8 {
  margin: 8px;
}

.m16 {
  margin: 16px;
}

.m24 {
  margin: 24px;
}

.m32 {
  margin: 32px;
}

.m40 {
  margin: 40px;
}

.m48 {
  margin: 48px;
}

.m56 {
  margin: 56px;
}

.m64 {
  margin: 64px;
}

.mb0 {
  margin-bottom: 0;
}

.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb48 {
  margin-bottom: 48px;
}

.mb56 {
  margin-bottom: 56px;
}

.mb64 {
  margin-bottom: 64px;
}

.mt0 {
  margin-top: 0;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mt32 {
  margin-top: 32px;
}

.mt40 {
  margin-top: 40px;
}

.mt48 {
  margin-top: 48px;
}

.mt56 {
  margin-top: 56px;
}

.mt64 {
  margin-top: 64px;
}

.ml0 {
  margin-left: 0;
}

.ml8 {
  margin-left: 8px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}

.ml32 {
  margin-left: 32px;
}

.ml40 {
  margin-left: 40px;
}

.ml48 {
  margin-left: 48px;
}

.ml56 {
  margin-left: 56px;
}

.ml64 {
  margin-left: 64px;
}

.mr0 {
  margin-right: 0;
}

.mr8 {
  margin-right: 8px;
}

.mr16 {
  margin-right: 16px;
}

.mr24 {
  margin-right: 24px;
}

.mr32 {
  margin-right: 32px;
}

.mr40 {
  margin-right: 40px;
}

.mr48 {
  margin-right: 48px;
}

.mr56 {
  margin-right: 56px;
}

.mr64 {
  margin-right: 64px;
}

.p0 {
  padding: 0;
}

.p8 {
  padding: 8px;
}

.p16 {
  padding: 16px;
}

.p24 {
  padding: 24px;
}

.p32 {
  padding: 32px;
}

.p40 {
  padding: 40px;
}

.p48 {
  padding: 48px;
}

.p56 {
  padding: 56px;
}

.p64 {
  padding: 64px;
}

.pb0 {
  padding-bottom: 0;
}

.pb8 {
  padding-bottom: 8px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb24 {
  padding-bottom: 24px;
}

.pb32 {
  padding-bottom: 32px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb48 {
  padding-bottom: 48px;
}

.pb56 {
  padding-bottom: 56px;
}

.pb64 {
  padding-bottom: 64px;
}

.pt0 {
  padding-top: 0;
}

.pt8 {
  padding-top: 8px;
}

.pt16 {
  padding-top: 16px;
}

.pt24 {
  padding-top: 24px;
}

.pt32 {
  padding-top: 32px;
}

.pt40 {
  padding-top: 40px;
}

.pt48 {
  padding-top: 48px;
}

.pt56 {
  padding-top: 56px;
}

.pt64 {
  padding-top: 64px;
}

.pt72 {
  padding-top: 72px;
}

.pt80 {
  padding-top: 80px;
}

.pt88 {
  padding-top: 88px;
}

.pl0 {
  padding-left: 0;
}

.pl8 {
  padding-left: 8px;
}

.pl16 {
  padding-left: 16px;
}

.pl24 {
  padding-left: 24px;
}

.pl32 {
  padding-left: 32px;
}

.pl40 {
  padding-left: 40px;
}

.pl48 {
  padding-left: 48px;
}

.pl56 {
  padding-left: 56px;
}

.pl64 {
  padding-left: 64px;
}

.pr0 {
  padding-right: 0;
}

.pr8 {
  padding-right: 8px;
}

.pr16 {
  padding-right: 16px;
}

.pr24 {
  padding-right: 24px;
}

.pr32 {
  padding-right: 32px;
}

.pr40 {
  padding-right: 40px;
}

.pr48 {
  padding-right: 48px;
}

.pr56 {
  padding-right: 56px;
}

.pr64 {
  padding-right: 64px;
}

.bg-black {
  background-color: black;
}

.bg-gray-2 {
  background-color: #f5f5f5;
}

.bg-white {
  background-color: white;
}

.bg-brand-500 {
  background-color: #9c0d17;
}

.border {
  border: 1px solid #dcdcdc;
}

.border-bottom {
  border-bottom: 1px solid #dcdcdc;
}

.border-top {
  border-top: 1px solid #dcdcdc;
}

.border-left {
  border-left: 1px solid #dcdcdc;
}

.border-right {
  border-right: 1px solid #dcdcdc;
}

.col-centered {
  float: none;
  margin: auto;
}

.img-max-w-80-pct {
  max-width: 80%;
}

.img-max-w-64 {
  max-width: 64px;
}

.img-max-w-96 {
  max-width: 96px;
}

.img-max-w-128 {
  max-width: 128px;
}

.img-max-w-160 {
  max-width: 160px;
}

.img-max-w-200 {
  max-width: 200px;
}

.img-max-h-96 {
  max-height: 96px;
}

.services-tile .tile-thumb {
  padding: 128px;
  background-size: cover;
}

.project-tile {
  height: 256px;
  overflow: hidden;
  border-radius: 2px;
  background-size: cover;
  background-position: 50% 50%;
}
.project-tile .project-tile-text {
  height: 256px;
  position: relative;
  top: 166px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  transition: 0.2s;
}
.project-tile:hover .project-tile-text {
  top: 0;
  background: rgba(0, 0, 0, 0.75);
}

.products-tile {
  position: relative;
}
.products-tile .tile-thumb {
  padding: 160px;
  background-size: cover;
}
.products-tile .tile-logo-overlay {
  height: 320px;
  position: absolute;
  top: 0;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.4);
}
.products-tile:hover .tile-logo-overlay {
  opacity: 0;
  background: transparent;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  color: #727272;
  background: #dcdcdc;
  border: 1px solid #dcdcdc;
  padding: 0 24px;
  line-height: 44px;
  vertical-align: middle;
  transition: 0.2s;
}
.btn:hover {
  color: #727272;
  background: #bdbdbd;
}

.btn-white-clear {
  background: transparent;
  color: white;
  border-color: white;
}
.btn-white-clear:hover {
  background: transparent;
  color: #e0e0e0;
}

.btn-gray-3 {
  background: #efefef;
  color: #727272;
  border-color: #dcdcdc;
}
.btn-gray-3:hover {
  background: #d0d0d0;
  color: #535353;
}

.btn-copy-1-clear {
  background: transparent;
  color: #727272;
  border-color: #727272;
}
.btn-copy-1-clear:hover {
  background: transparent;
  color: #535353;
}

.btn-sm {
  font-size: 14px;
  line-height: 40px;
}

.btn-lg {
  font-size: 16px;
  line-height: 48px;
}

.btn-xlg {
  font-size: 16px;
  line-height: 64px;
}

.icon-button {
  font-size: 24px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  vertical-align: middle;
  text-align: center;
  color: #a0a0a0;
  border-radius: 50%;
  background: #efefef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
}

.navbar-relyable {
  background-color: #653030;
  height: 64px;
  border: none;
}
.navbar-relyable li a {
  color: white;
  transition: 0.2s;
}
.navbar-relyable li a:hover {
  padding-bottom: 18px;
  background: transparent;
  border-bottom: 4px solid white;
  color: white;
}

.navbar-brand {
  height: auto;
  box-sizing: border-box;
  padding: 12px 0;
}
.navbar-brand img {
  height: 40px;
}

.navbar-nav > li > a {
  padding: 22px 15px;
}

.card {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  transition: 0.2s;
  background: white;
  overflow: hidden;
}

.card-pad-md {
  padding: 24px;
}

.card-empty {
  background: transparent;
}

.card-clickable:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
}
.card-clickable:active {
  box-shadow: none;
}

.more-below {
  margin-top: -22px;
}

body {
  background: #efefef;
}

.box {
  padding: 32px;
  margin-top: 30px;
  height: 300px;
  background: white;
  transition: 0.2s all linear;
  border-radius: 4px;
}
.box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  background: red;
}
.box:active {
  box-shadow: none;
  background: #c20000;
}

/*# sourceMappingURL=style.css.map */
